# Ignore everything
*

# Allow the twentytwentyonechild directory and its contents
!/twentytwentyonechild/
!/twentytwentyonechild/**/

# Optionally, you may want to include specific file types
!/twentytwentyonechild/*.php
!/twentytwentyonechild/*.css
!/twentytwentyonechild/*.js

# Ignore other directories if necessary
# /other-directory/
