/* tuile.css */
.tuile {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tuile a {
    text-decoration: none;
    color: inherit;
}

.tuile picture {
    display: block;
    margin-bottom: 10px;
}

.tuile img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.tuile h3 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #333;
}

.tuile:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
