/* Styles for the hero section on the homepage */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    height: 60vh;
}

.hero .intro {
    font-size: 2rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
}

.container{
    display: flex;
}



